.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
../
useR2024_Talks/Stats_soft_eng_journey/reflectionsEOY2023.qmd
useR2024_Talks/Stats_soft_eng_journey/reflectionsEOY2023.html
useR2024_Talks/Stats_soft_eng_journey/reflectionsEOY2023_files
PHUSE2024_Basel/bubble_words/PHUSE2024_Basel/fusion_p/PHUSE2024_Basel/gearing_statisticians_software_success.pdfPHUSE2024_Basel/images/mentoring.pngPHUSE2024_Basel/images/trust_colab.pngPHUSE2024_Basel/it-depends/PHUSE2024_Basel/morphing/PHUSE2024_Basel/pastel/PHUSE2024_Basel/phase1b_hero/PHUSE2024_Basel/springy-rainbow-lines/       